html,body{
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Lato" , sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color:#666;
}
.pimg1{
    background-image: url(images/clouds.jpg);
    min-height: 100%;
}
.pimg2{
    background-image: url(images/forest.jpg);
    min-height: 100%;
}
.pimg3{
    background-image: url(images/mountain.jpg);
    min-height: 100%;
}
.pimg4{
    background-image: url(images/grass.jpg);
    min-height: 100%;
}
.pimg1,.pimg2,.pimg3,.pimg4{
    position:relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.ptext{
    position: absolute;
    top:50%;
    width: 100%;
    text-align: center;
    color:black;
    font-size: 35px;
    letter-spacing: 15px;
}
.textBg{
    background: #313534;
    color:#fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 2px 3px 4px 2px rgb(255, 255, 255 , 0.2);
}
.section {
    padding: 50px 80px;
    text-align: justify;
}
.section-light {
   background-color: #f4f4f4;
   color:#666 ;
   font-size: 19px;
   letter-spacing: 2px;
}
.section-dark {
    background-color: #060000;
    color:#ddd ;
    font-size: 19px;
   letter-spacing: 2px;
 }
@media(width <= 560px){
    .textBg{
        padding: 10px; 
        font-size: 11px; 
    }
    .section-dark {
        font-size: 10px;
        letter-spacing: 1px;
        word-spacing: 0px;
    }
    .section-light {
        font-size: 10px;
        letter-spacing: 1px;
        word-spacing: 0px;
    }
    .section {
        padding: 10px 7px;
    }
    .pimg1,.pimg2,.pimg3,.pimg4{
        min-height: 600px;
    }

}
@media(width <= 362px){
    .textBg{
        padding: 0px; 
        font-size: 9px; 
    }
    .section-dark {
        font-size: 8x;
        letter-spacing: 0px;
        word-spacing: 0px;
    }
    .section-light {
        font-size: 10px;
        letter-spacing: 0px;
        word-spacing: 0px;
    }
    .ptext{
        letter-spacing: 4px;
    }
    .section {
        padding: 0px 0px;
        
    }
    .pimg1,.pimg2,.pimg3,.pimg4{
        min-height: 400px;
    }

}
